:root {
  --bg-light-color: #f3f3f3;
  --dark-bleu: #284B63;
  --text-color: #353535;
  --tache-color: #3C6E71;
  --footer-color: #1f1e1e;

  --container-bg: url('svg/Light-empty.svg');
  --complete-icon: url('svg/complete.svg');

  --filter: none;
  --theme-transition: 0s;
  
  --padding : 1rem;
  --spacing: 1.5rem;

  --body-font: 'Shadows Into Light', cursive;
}

body {
  font-family: var(--body-font);
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: center;
  align-items: center;
  max-width: 70vw;
}

.heading {
  font-weight: 900;
  color: var(--text-color);
  margin-bottom: calc(var(--padding) * 3);
}

.heading {
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.task_item {
  list-style-type: none;
  border: 1px var(--dark-bleu) solid;
  padding: var(--padding);
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 0.5rem;
  margin-bottom: var(--padding);
  background-color: var(--tache-color);
  color: var(--bg-light-color);
}

.task_item:hover {
  transition: 0.5s;
  cursor: pointer;
  background-color: #a8c3c5;
  color: var(--text-color);
}

.task_check_btn {
  min-width: 1rem;
  height: 1rem;
  border-radius: 50%;
  margin-right: var(--padding);
  border: 2px var(--dark-bleu) solid;
  background-position: center;
  background-size: contain;
  cursor: pointer;
}

.task_check_btn:hover {
  background-image: url('svg/complete.svg');
  filter: var(--filter);
}

.task_bio {
  font-size: 1.2rem;
  letter-spacing: 0.05rem;
}

.task-completed {
  transition: 0.5s;
  transform: scale(90%);
  text-decoration: line-through;
  color: rgb(150, 150, 150);
  opacity: 0;
}

footer {
  padding: 1rem;
  width: 100%;
  background-color: var(--footer-color);
  margin: 0 auto;
}

footer form {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing);
  max-width: 550px;
  margin: 0 auto;
}

input[type=text] {
  flex: 1 1 350px;
  font-size: 1.2rem;
  color: white;
  background-color: transparent;
  border: none;
  border-bottom: 1px rgba(255, 255, 255, 0.267) solid;
}

input[type=text]::placeholder {
  color: rgba(255, 255, 255, 0.589);
  font-size: 1.2rem;
  font-family: var(--body-font);
}

input#new_task_input_btn[type=submit] {
  flex: 1 1 100px;
  background-color: var(--tache-color);
  border: none;
  cursor: pointer;
  padding: 0.5rem calc(var(--padding) * 3);
  font-size: 1.3rem;
  color: var(--bg-light-color);
}

.taskCompleted {
  visibility: hidden;
}