:root {
  --bg-light-color: #f3f3f3;
  --dark-bleu: #284B63;
  --text-color: #353535;
  --tache-color: #3C6E71;
  --footer-color: #1f1e1e;

  --container-bg: url('svg/Light-empty.svg');
  --complete-icon: url('svg/complete.svg');

  --filter: none;
  --theme-transition: 0s;
  
  --body-font: 'Shadows Into Light', cursive;
}

body {
  font-family: var(--body-font);
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  align-items: center;
}

.content {
  flex: 1 1 auto;
}

.content header {
  display: flex;
  flex-direction: column;
}

.heading {
  font-weight: 900;
  color: var(--text-color);
}

.theme_toogle {
  text-align: right;
  margin-right: -15px;

}

.theme_toogle_btn {
  min-width: 30px;
  min-height: 30px;
  background-color: transparent;
  border: none;
  outline: none;
  background-image: var(--theme-btn);
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
  padding: 20px;
  cursor: pointer;
}

.theme_toogle_btn:hover {
  background-size: 85%;
  transition: 0.5s;
  transform: rotate(90deg);
}

.heading {
  font-size: 30px;
}

.tasks {
  margin: 20px 0px;
  overflow: hidden;
  padding-right: 15p;
}

#tasksList {
  padding: 0px;
}

.task_item {
  list-style-type: none;
  border: 1px var(--dark-bleu) solid;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 7px;
  margin-bottom: 20px;
  background-color: var(--tache-color);
  color: var(--bg-light-color);
}

.task_item:hover {
  transition: 0.5s;
  cursor: pointer;
  background-color: #8ebbbe;
  color: var(--text-color);
}

.task_check_btn {
  width: 10px;
  height: 10px;
  margin-right: 16px;
  padding: 3px;
  border: 2px var(--dark-bleu) solid;
  background-position: center;
  background-size: contain;
  border-radius: 50%;
  cursor: pointer;
}

.task_check_btn:hover {
  background-image: url('svg/complete.svg');
  /* opacity: 0.5; */
  filter: var(--filter);
}

.task_bio {
  font-size: 18px;
}

.task-completed {
  transition: 0.5s;
  transform: scale(90%);
  text-decoration: line-through;
  color: rgb(150, 150, 150);
  opacity: 0;

}

footer {
  padding: 1rem;
  width: 100%;
  background-color: var(--footer-color);
}

footer form {
  max-width: 500px;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

#new_task_input {
  min-width: 250px;
  margin-right: 40px;
  font-size: 20px;
  color: white;
  background-color: transparent;
  border: none;
  border-bottom: 1px rgba(255, 255, 255, 0.267) solid;
}

#new_task_input::placeholder {
  color: rgba(255, 255, 255, 0.589);
  font-size: 20px;
  font-family: var(--body-font);
}

#new_task_input_btn {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  background-image: url('svg/new.svg');
  background-repeat: no-repeat;
  background-size: 80%;
  cursor: pointer;
}

.taskCompleted {
  visibility: hidden;
}